<%= erb :header %>

<div class="container">
  <h4>Thanks for registering. You will recieve an e-mail when your account is approved. If we forget to approve your account, go find Noah or Chris in person.</h4>
</div>

<%= erb :footer %>
